/Determinant/nbproject/private/
/testPerformanceAkka/nbproject/private/
/testPerformanceAkka/build/
/testPerformanceRmi/nbproject/private/
/testPerformanceRmi/build/
/DeterminantCalculatorService/nbproject/private/
/DeterminantCalculatorUser/nbproject/private/
/DeterminantCalculatorLinuxUser/nbproject/private/
/DeterminantCalculatorService/build/
/DeterminantCalculatorLinuxUser/build/
/DeterminantCalculatorUserLeardini/nbproject/private/
/DeterminantCalculatorUserLeardini/build/
/DeterminantCalculatorUser/dist/
/DeterminantCalculatorService/dist/
/DeterminantCalculatorWorker/nbproject/private/